<header class="header">
    <h1>หน้าแสดงข้อมูล</h1>
    <nav>
        <ul class="nav-links">
            <li><a href="/">หน้าหลัก</a></li>
            <li><a href="/form">หน้าฟอร์ม</a></li>
            <li><a href="/data">หน้าแสดงข้อมูล</a></li>
        </ul>
    </nav>
</header>