<%- include('includes/head.ejs')%>
  <link rel="stylesheet" href="/css/404.css">
  <body>
    <%- include('includes/navigation.ejs')%>
    <main>
      <h1>⚠️ Page Not Found ⚠️</h1>
    </main>
    <%- include('includes/end.ejs')%>