<%- include('includes/head.ejs')%>
  <body>
    <div class="container">
      <%- include('includes/navigation.ejs')%>
      <main class="main-content">
        <h1><%-welcomeMessage%></h1>
        <p>โปรเจกต์เริ่มต้นสำหรับสอนการสร้างเว็บด้วย Node.js และ Express</p>
        <p>ในเวอร์ชันแรกนี้ เราจะใช้ HTML และ CSS ธรรมดา</p>
      </main>
    </div>
  <%- include('includes/end.ejs')%>